/* Setup styles */

:root {
	--color-light-blue: #b2d5ff;
	--color-blue: #003794;
	--color-gray: #e3e5ea;
	--color-dark-gray: #B5BACA;
	--color-black: #000f27;
	--color-red: #DE5E5E;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "DM Sans", sans-serif;
}

body {
	max-width: 100%;
	min-height: 100vh;
	transition: color 0.5s, background-color 0.5s;
	line-height: 1.6;
	place-items: normal;
	background: var(--color-gray);
	color: white;
	transition: none;
	padding: 0;
	margin: 0;
}

#app {
	width: 100%;
	max-width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0;
	padding: 0;
}

/* General styles and fonts */

h1 {
	color: var(--color-blue);
}

h2,
h3,
p,
label {
	color: var(--color-black);
}

h2 {
	font-size: 1.125rem;
}

main {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1.875rem 1.25rem;
}

footer {
	padding: 0.5rem 1.25rem;
}

footer a {
	font-size: 0.75rem;
}

/* Combos */

.columnAlignCenter {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.columnCenter {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.columnSpaceBetweenCenter {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.column {
	display: flex;
	flex-direction: column;
}

.rowCenter {
	display: flex;
	align-items: center;
}

.rowSpaceBetween {
	display: flex;
	justify-content: space-between;
}

/* Images */
.icon {
	height: 1.125rem;
	width: 1.125rem;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.iconConsultorios {
	background-image: url("./icons/consultorios.svg");
}

.iconSearch {
	background-image: url("./icons/search.svg");
}

.iconProfile {
	background-image: url("./icons/profile.svg");
}

.iconAdmin {
	background-image: url("./icons/admin.svg");
}

/* Backgrounds and Texts */

.bg-light-blue {
	background-color: var(--color-light-blue);
}

.bg-dark-gray {
	background-color: var(--color-dark-gray);
}

.text-blue {
	color: var(--color-blue);
}

/* Buttons */

.primaryButton,
.secondaryButton,
.primaryButtonLink {
	width: 100%;
	border-radius: 0.75rem;
	box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.08), 0px 3px 4px rgba(0, 0, 0, 0.1), 0px 1px 4px -1px rgba(0, 0, 0, 0.1);
	padding: 0.75rem 0;
}

.primaryButton,
.primaryButtonLink {
	background: var(--color-blue);
	border: 2px solid var(--color-blue);
	color: var(--color-gray);
}

.primaryButton:hover,
.primaryButtonLink:hover {
	background: var(--color-gray);
	color: var(--color-blue);
}

.primaryButtonLink {
	text-align: center;
	text-decoration: none;
}

/* Forms */
label {
	font-size: 0.875rem;
}

.p-inputtext {
	width: 100%;
	border-radius: 5px;
	background: var(--color-gray);
	border: 1px solid var(--color-blue);
	color: var(--color-black);
	font-size: 0.875rem;
	line-height: 18px;
	padding: 0.5rem 0.875rem;
}

.p-inputtext:focus-within {
	border: 1px solid var(--color-blue);
}

.loginContainer .p-icon-field>.p-input-icon {
	top: 27.5%;
}

/* Tabs */

.p-tabmenu .p-tabmenu-nav {
	width: 100%;
	display: flex;
	justify-content: center;
	background-color: var(--color-gray);
}

.p-tabmenu .p-tabmenu-nav .p-tabmenuitem {
	width: 100%;
}

.p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link {
	width: 100%;
	display: flex;
	justify-content: center;
	background-color: var(--color-gray);
	color: var(--color-blue);
	padding: 0.313rem 1.688rem;
}

.p-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight .p-menuitem-link {
	border-color: var(--color-blue);
}

.p-tabmenu .p-tabmenu-nav .p-tabmenuitem:not(.p-highlight):hover .p-menuitem-link {
	border: none;
}

/* Breadcrumbs */
.breadcrumb {
	width: 100%;
	background-color: var(--color-gray);
	font-size: 0.625rem;
	color: var(--color-blue);
}

.breadcrumb .p-breadcrumb-list {
	display: flex;
	align-items: center;
	gap: 0.25rem;
}

.breadcrumb .p-icon {
	width: 0.5rem;
	color: var(--color-blue);
}

.p-breadcrumb .p-breadcrumb-list li .p-menuitem-link .p-menuitem-text {
	color: var(--color-blue);
}

/* Errors */
.error {
	display: flex;
	align-items: center;
	gap: 5px;
}

.error span {
	color: var(--color-red);
}

.error p {
	font-size: 0.625rem;
	color: var(--color-red);
}